<div class="userInfo">
	<ul class="list">
		<li><label class="info">Username: </label>{{username}}</li>
		<li><label class="info">First Name: </label>{{firstName}}</li>
		<li><label class="info">Last Name: </label>{{lastName}}</li>
		<li><label class="info">Profession: </label>{{profession}}</li>
		<li><label class="info">Bio: </label>{{bio}}</li>
	</ul>
</div>